<p id="notice"><%= notice %></p>

<h1>Listing Acessos</h1>

<table>
  <thead>
    <tr>
      <th>Id acesso</th>
      <th>Url</th>
      <th>Cliente</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @acessos.each do |acesso| %>
      <tr>
        <td><%= acesso.id_acesso %></td>
        <td><%= acesso.url %></td>
        <td><%= acesso.cliente_id %></td>
        <td><%= link_to 'Show', acesso %></td>
        <td><%= link_to 'Edit', edit_acesso_path(acesso) %></td>
        <td><%= link_to 'Destroy', acesso, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Acesso', new_acesso_path %>
