<%- model_class = Acesso -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:id_acesso) %>:</strong></dt>
  <dd><%= @acesso.id_acesso %></dd>
  <dt><strong><%= model_class.human_attribute_name(:url) %>:</strong></dt>
  <dd><%= @acesso.url %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cliente_id) %>:</strong></dt>
  <dd><%= @acesso.cliente_id %></dd>
</dl>
<hr>

<ul>
  <% @acesso.contato.each do |contato| %>

  <li><%= "#{contato.nome } - #{contato.email } - #{contato.created_at}" %></li>

  <% end %>
</ul>
<hr>
<br>
<br>

<%= link_to t('.back', :default => t("helpers.links.back")),
              acessos_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_acesso_path(@acesso), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              acesso_path(@acesso),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
